* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

h1 {
  position: absolute;
  top: 0%;
  left: 45%;
  font-size: 36px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

.square {
  background: rgb(140, 109, 172);
  border: 5px red solid;
  float: left;
  font-size: 124px;
  font-weight: bold;
  line-height: 125px;
  height: 125px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 125px;
  color: rgba(238, 255, 0, 0.744);
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 22px;
}
.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 50px;
}

.game-info {
  margin-left: 20px;
}

.info ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.infoButton {
  background-color: black;
  color: antiquewhite;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: -2px 3px 7px red;
  transition: all 0.35s;
}

.infoButton:hover {
  transform: scale(1.25);
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}